<ion-view title="New Meeting">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Meeting name</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input">
                <span class="input-label">Details</span><textarea placeholder=""> </textarea>
            </label>
            <ion-item class="range range-dark">Hours
                <input type="range" value="1" min="1" max="5"><p id = "theHours">1</p>
            </ion-item>
        </form>
        <form class="list"></form>
        <a href="#/page9" class="button button-stable button-block ">Post meeting</a>
    </ion-content>
</ion-view>