<ion-view title="Signup">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input ng-model="data.email" type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input ng-model="data.username" type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input ng-model="data.password" type="password" placeholder="">
                </label>
            </ion-list>
            <button ng-click="signupEmail()" class="button button-energized button-block ">Sign up</button>
        </form>
    </ion-content>
</ion-view>